.comixIconImg{
	height: 60px;
}
.profile-pic{
	height: 70px;
	border-radius: 100rem;
	margin: 10px;
}
#canvasDiv{
	display: block;
	text-align: center;
}
tr{
	background-color: rgb(240, 240, 240);
	border: none;
	display: block;
	margin-top: 10px;
	margin-bottom: 15px;
	transition: all 0.25s ease-out;
	color: #000;
}
tr:hover{
	background-color: rgb(200, 200, 200);
}
tr:active{
	transform: scale(1.03);
}

table{
	width: 100%;
}
a:hover{
	text-decoration: none !important;
}
tr td{
	padding-right: 30px;
}
.searchSpan{
	font-weight: 500;
}
select{
	cursor: pointer;
}